* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #d8d7d7fe;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 50px;
}

.container {
  background-color: #fff;
  padding: 50px 40px;
  border-radius: 10px;
  width: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #f23f3f;
  margin-bottom: 10px;
 
  padding-bottom: 5px;
}

label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: none;
  height: 60px;
}

.donation-options, .payment, .donation-type {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ddd;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 3px;
  height: 15px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}
